.navbar {
	background-color: #4a7190;
	z-index: 2;
	width: 100%;
	border-radius: 2px;
	position: static;

}

.title {
	color:whitesmoke;
	font-size: 25px;
	list-style-type: none;
	float: left;
	width: auto;
	text-align: center;
	font-family: Alphabet Soup Tilt;
}

.score {
	text-align: right;
	float: right;
}

.center {
	display: block;
	width: 200px;
}
