.navbar {
	background-color: #053358;
	z-index: 2;
	width: 100%;
	border-radius: 2px;
	position: static;
}

ul {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.title {
	color:rgb(223, 168, 68);
	font-size: 25px;
	float: left;
	width: 250px;
	text-align: center;
	font-family: Alphabet Soup Tilt;
}

.score {
	text-align: right;
	float: right;
}

.center {
	display: block;
	width: auto;
}
